<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form accept="/admin-reg" method="post">
        <a>Secret Key</a>
        <input type="text" id="secretkey" name="secretkey" placeholder="Enter secret key"><br>
        <a>Admin username: </a>
        <input type="text" id="username" name="username" placeholder="Enter your username"><br>
        <a>Admin password: </a>
        <input type="text" id="password" name="password" placeholder="Enter your password"><br><br>
        <input type="submit" value="Enter">
    </form>
</body>
</html>